.bottom {
    display: flex;
    padding: 5px;
    gap: 10px;
}

.language-dropdown{
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

.dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    outline: none;
}

.dropdown:hover {
    border-color: #686e74; /* Зміна кольору обводки при наведенні */
}
