.codeWindow{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bottomAi {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 2rem; 
    background: var(--background-color-bottom);
    border-radius: 0.8rem 0rem 0rem 0.8rem; 
    box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.2); 
}

.alertCopy {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--color-white);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    z-index: 1000; 
    transition: opacity 0.3s ease; 
    opacity: 1;

  }