.codeWindow{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bottomAi {
    display: flex;
    flex-direction: column; // Stack buttons vertically
    align-items: center; // Center align buttons
    padding: 20px; // Padding around the container
    background: var(--background-color-bottom);
    border-radius: 8px 0px 0px 8px; // Rounded corners for the container
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); // Subtle shadow effect
}

.alertCopy {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000; // To ensure the alert is above other elements
    transition: opacity 0.3s ease; // Optional: Add a transition for fade effect
    opacity: 1; // Make sure it's visible

  }