/* Стиль для контейнера коду */
.code-display {
  background-color: #ffffff;
  color: #333;
  padding: 15px;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px; /* Зменшуємо шрифт */
  white-space: pre-wrap; /* Дозволяє переносити текст на новий рядок */
  word-wrap: break-word; /* Дозволяє перенос слів для обтікання */
  overflow-x: hidden; /* Вимикаємо горизонтальну прокрутку */
  border: 1px solid #ddd;
}

/* Стиль для контейнера кнопок */
.bottomA {
  display: flex;
  flex-direction: column; // Stack buttons vertically
  align-items: center; // Center align buttons
  padding: 20px; // Padding around the container
  background-color: #525452;
  border-radius: 8px; // Rounded corners for the container
  box-shadow: 0 4px 15px rgba(255, 216, 216, 0.2); // Subtle shadow effect
}

/* Стиль для кнопок */
.copy-button, .export-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white; /* Текст кольору білий */
  background-color: #6c757d; /* Основний колір кнопки */
  border: none; /* Без обводки */
  border-radius: 5px; /* Заокруглені кути */
  cursor: pointer; /* Курсор у вигляді руки при наведенні */
  transition: background-color 0.3s ease; /* Анімація переходу */
  outline: none;
  height: auto; /* Висота кнопки автоматична */
}

.copy-button:hover, .export-button:hover {
  background-color: #5a6268;
}

/* Стиль для сповіщення */
.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000; /* Щоб сповіщення було поверх інших елементів */
  transition: opacity 0.3s ease; /* Анімація для ефекту згасання */
  opacity: 1; /* Переконуємось, що воно видно */
}


